* {
  font-family: -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Helvetica Neue', 'Ubuntu', sans-serif;
}

html{
  --primary-color: #41FFD1;
  --secondary-color: rgba(90, 51, 139, 1);
  --text-dark: rgba(42, 0, 98, 1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F0F6;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 3rem;
  background: #fff;
  border: 1px solid lightgray;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -0.154px;
  color: var(--text-dark);
  height: 100%;
  align-self: flex-start;
  margin: 0.5rem 0;
}
h1,h2 {
  text-align: center;
  
  color: var(--text-dark);
  margin:0;
}
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sign{
  margin-top: 2rem;
}
form{
  display:flex;
  justify-content: center;
  margin-top: 2rem;
}
button {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background: var(--secondary-color);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.8rem;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 32px;
}
button:hover {
  filter: brightness(87%);
  border-radius: 0;
}
